[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/javinr/indigo.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/javinr/gohugo-theme-ananke.git
